html.body{
margin:0px;
height:100%;
width:100%;
position:relative;
}

video{
  height:100vh;
  width:100vw;
  object-fill:fill;
  position:absolute;
  top:50%;
  left:50%;
  translate:-50% -50%;
}




#splash{
position:fixed; top:0; left:0; z-index:999;
width:100vw; height:100vh;

display:flex;
align-items:center; justify-content:center;

font-size:24px;
color:#fff; background-color:#000;
}
#splash.hide{
opacity:0; visibility:hidden;
transition:all 1s;
}



